[Desktop Entry]
Name=UXTerm
#GenericName=Terminal
Comment=xterm wrapper for Unicode environments
Exec=uxterm
Terminal=false
Type=Application
#Encoding=UTF-8
Icon=mini.xterm
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
X-Desktop-File-Install-Version=0.24
NoDisplay=true
