Source: mobian-tweaks
Section: misc
Priority: optional
Maintainer: Arnaud Ferraris <arnaud.ferraris@gmail.com>
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13)
Homepage: https://gitlab.com/mobian1/mobian-tweaks
Vcs-Git: https://gitlab.com/mobian1/mobian-tweaks.git
Vcs-Browser: https://gitlab.com/mobian1/mobian-tweaks
Rules-Requires-Root: no

Package: mobian-tweaks-common
Architecture: all
Depends: libglib2.0-bin,
         libpam-runtime,
         mobile-initramfs-tools,
         mobile-tweaks-common,
         ${misc:Depends}
Conflicts: mobian-tweaks
Provides: mobian-tweaks
Replaces: mobian-tweaks
Breaks: mobian-librem5-tweaks (<< 0.1.5~),
        mobian-oneplus6-tweaks (<< 0.2.7~),
        mobian-pinephone-tweaks (<< 0.56~),
        mobian-pinetab-tweaks (<< 0.15~),
        mobian-pocof1-tweaks (<< 0.3.2~),
        pinephonepro-support (<< 0.1.2~),
Description: Mobian -- Generic configuration settings
 Mobian is a Debian blend targetting mobile devices, such as phones and tablets.
 .
 This package provides device-independent configuration files aimed at improving
 the user experience on mobile devices:
   * PAM config for allowing numeric passwords
   * logind config for ignoring presses on the power key
   * journald config for limiting the amount of disk space used by logs

Package: mobian-tweaks-phosh
Architecture: all
Depends: dconf-cli,
         mobian-tweaks-common,
         adduser,
         ${misc:Depends}
Description: Mobian -- Configuration settings for Phosh
 Mobian is a Debian blend targetting mobile devices, such as phones and tablets.
 .
 This package provides configuration files for the Phosh environment:
   * default GNOME settings more suited to mobile devices
   * PAM session config for auto-unlocking the keyring on login
