[Unit]
Description=Start USB gadget MTP function
Requires=umtp-responder.service
After=umtp-responder.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 1
ExecStart=/usr/sbin/mobian-usb-gadget.sh start

[Install]
WantedBy=multi-user.target
